<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>B</key>
      <real>-5.0</real>
      <key>C</key>
      <real>-82.0</real>
      <key>G</key>
      <real>-58.0</real>
      <key>O</key>
      <real>-86.0</real>
      <key>Q</key>
      <real>-66.0</real>
      <key>S</key>
      <real>-59.0</real>
      <key>T</key>
      <real>-124.0</real>
      <key>U</key>
      <real>-50.0</real>
      <key>V</key>
      <real>-206.0</real>
      <key>W</key>
      <real>-188.0</real>
      <key>X</key>
      <real>22.0</real>
      <key>Y</key>
      <real>-156.0</real>
      <key>a</key>
      <real>-28.0</real>
      <key>d</key>
      <real>-26.0</real>
      <key>e</key>
      <real>-46.0</real>
      <key>o</key>
      <real>-50.0</real>
      <key>p</key>
      <real>-12.0</real>
      <key>quotedbl</key>
      <real>-162.0</real>
      <key>quotesingle</key>
      <real>-178.0</real>
      <key>t</key>
      <real>-22.0</real>
      <key>u</key>
      <real>-30.0</real>
      <key>v</key>
      <real>-132.0</real>
      <key>w</key>
      <real>-122.0</real>
      <key>y</key>
      <real>-38.0</real>
    </dict>
    <key>B</key>
    <dict>
      <key>A</key>
      <real>-50.0</real>
      <key>C</key>
      <real>-30.0</real>
      <key>O</key>
      <real>-28.0</real>
      <key>comma</key>
      <real>-138.0</real>
      <key>period</key>
      <real>-82.0</real>
    </dict>
    <key>C</key>
    <dict>
      <key>A</key>
      <real>-30.0</real>
      <key>C</key>
      <real>-66.0</real>
      <key>O</key>
      <real>-42.0</real>
      <key>a</key>
      <real>-44.0</real>
      <key>comma</key>
      <real>-136.0</real>
      <key>period</key>
      <real>-68.0</real>
    </dict>
    <key>D</key>
    <dict>
      <key>A</key>
      <real>-98.0</real>
      <key>E</key>
      <real>-30.0</real>
      <key>V</key>
      <real>-136.0</real>
      <key>W</key>
      <real>-126.0</real>
      <key>Y</key>
      <real>-116.0</real>
      <key>comma</key>
      <real>-192.0</real>
      <key>period</key>
      <real>-138.0</real>
    </dict>
    <key>E</key>
    <dict>
      <key>F</key>
      <real>17.0</real>
      <key>V</key>
      <real>-44.0</real>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <real>-106.0</real>
      <key>a</key>
      <real>-38.0</real>
      <key>comma</key>
      <real>-280.0</real>
      <key>e</key>
      <real>-48.0</real>
      <key>i</key>
      <real>-24.0</real>
      <key>o</key>
      <real>-48.0</real>
      <key>period</key>
      <real>-216.0</real>
      <key>r</key>
      <real>-40.0</real>
    </dict>
    <key>G</key>
    <dict>
      <key>C</key>
      <real>-44.0</real>
      <key>O</key>
      <real>-29.0</real>
      <key>comma</key>
      <real>-174.0</real>
      <key>period</key>
      <real>-120.0</real>
    </dict>
    <key>H</key>
    <dict>
      <key>A</key>
      <real>-21.0</real>
    </dict>
    <key>I</key>
    <dict>
      <key>S</key>
      <real>-36.0</real>
    </dict>
    <key>K</key>
    <dict>
      <key>C</key>
      <real>-82.0</real>
      <key>O</key>
      <real>-86.0</real>
      <key>e</key>
      <real>-82.0</real>
      <key>o</key>
      <real>-78.0</real>
      <key>u</key>
      <real>-68.0</real>
      <key>y</key>
      <real>-60.0</real>
    </dict>
    <key>L</key>
    <dict>
      <key>A</key>
      <real>28.0</real>
      <key>T</key>
      <real>-142.0</real>
      <key>V</key>
      <real>-194.0</real>
      <key>W</key>
      <real>-182.0</real>
      <key>Y</key>
      <real>-170.0</real>
      <key>quotedbl</key>
      <real>-152.0</real>
      <key>quotesingle</key>
      <real>-168.0</real>
      <key>y</key>
      <real>-58.0</real>
    </dict>
    <key>N</key>
    <dict>
      <key>A</key>
      <real>-20.0</real>
      <key>S</key>
      <real>-44.0</real>
      <key>comma</key>
      <real>-126.0</real>
      <key>period</key>
      <real>-66.0</real>
    </dict>
    <key>O</key>
    <dict>
      <key>A</key>
      <real>-96.0</real>
      <key>B</key>
      <real>-66.0</real>
      <key>C</key>
      <real>-51.0</real>
      <key>N</key>
      <real>-37.0</real>
      <key>O</key>
      <real>-42.0</real>
      <key>T</key>
      <real>-95.0</real>
      <key>V</key>
      <real>-136.0</real>
      <key>W</key>
      <real>-120.0</real>
      <key>X</key>
      <real>-68.0</real>
      <key>Y</key>
      <real>-116.0</real>
      <key>comma</key>
      <real>-194.0</real>
      <key>period</key>
      <real>-140.0</real>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <real>-134.0</real>
      <key>a</key>
      <real>-78.0</real>
      <key>comma</key>
      <real>-312.0</real>
      <key>e</key>
      <real>-86.0</real>
      <key>o</key>
      <real>-88.0</real>
      <key>period</key>
      <real>-246.0</real>
    </dict>
    <key>Q</key>
    <dict>
      <key>C</key>
      <real>-44.0</real>
      <key>U</key>
      <real>-50.0</real>
      <key>comma</key>
      <real>-120.0</real>
      <key>period</key>
      <real>-80.0</real>
    </dict>
    <key>R</key>
    <dict>
      <key>G</key>
      <real>-44.0</real>
      <key>O</key>
      <real>-92.0</real>
      <key>S</key>
      <real>-36.0</real>
      <key>T</key>
      <real>-94.0</real>
      <key>U</key>
      <real>-68.0</real>
      <key>V</key>
      <real>-124.0</real>
      <key>W</key>
      <real>-108.0</real>
      <key>y</key>
      <real>-58.0</real>
    </dict>
    <key>S</key>
    <dict>
      <key>C</key>
      <real>-36.0</real>
      <key>T</key>
      <real>-29.0</real>
      <key>comma</key>
      <real>-136.0</real>
      <key>period</key>
      <real>-78.0</real>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <real>-134.0</real>
      <key>O</key>
      <real>-124.0</real>
      <key>a</key>
      <real>-126.0</real>
      <key>colon</key>
      <real>-132.0</real>
      <key>comma</key>
      <real>-242.0</real>
      <key>e</key>
      <real>-140.0</real>
      <key>hyphen</key>
      <real>-118.0</real>
      <key>i</key>
      <real>-42.0</real>
      <key>o</key>
      <real>-136.0</real>
      <key>period</key>
      <real>-176.0</real>
      <key>r</key>
      <real>-124.0</real>
      <key>semicolon</key>
      <real>-114.0</real>
      <key>u</key>
      <real>-104.0</real>
      <key>w</key>
      <real>-98.0</real>
      <key>y</key>
      <real>-118.0</real>
    </dict>
    <key>U</key>
    <dict>
      <key>A</key>
      <real>-86.0</real>
      <key>C</key>
      <real>-51.0</real>
      <key>V</key>
      <real>-44.0</real>
      <key>comma</key>
      <real>-172.0</real>
      <key>period</key>
      <real>-116.0</real>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <real>-200.0</real>
      <key>C</key>
      <real>-103.0</real>
      <key>G</key>
      <real>-100.0</real>
      <key>O</key>
      <real>-88.0</real>
      <key>W</key>
      <real>-36.0</real>
      <key>a</key>
      <real>-156.0</real>
      <key>colon</key>
      <real>-154.0</real>
      <key>comma</key>
      <real>-298.0</real>
      <key>e</key>
      <real>-168.0</real>
      <key>hyphen</key>
      <real>-158.0</real>
      <key>i</key>
      <real>-50.0</real>
      <key>o</key>
      <real>-164.0</real>
      <key>period</key>
      <real>-236.0</real>
      <key>semicolon</key>
      <real>-138.0</real>
      <key>u</key>
      <real>-112.0</real>
    </dict>
    <key>W</key>
    <dict>
      <key>C</key>
      <real>-104.0</real>
      <key>X</key>
      <real>-23.0</real>
    </dict>
    <key>X</key>
    <dict>
      <key>V</key>
      <real>-28.0</real>
      <key>Y</key>
      <real>-22.0</real>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <real>-162.0</real>
      <key>O</key>
      <real>-120.0</real>
      <key>S</key>
      <real>-110.0</real>
      <key>a</key>
      <real>-134.0</real>
      <key>colon</key>
      <real>-134.0</real>
      <key>comma</key>
      <real>-264.0</real>
      <key>e</key>
      <real>-144.0</real>
      <key>hyphen</key>
      <real>-130.0</real>
      <key>i</key>
      <real>-46.0</real>
      <key>o</key>
      <real>-142.0</real>
      <key>period</key>
      <real>-200.0</real>
      <key>semicolon</key>
      <real>-118.0</real>
      <key>u</key>
      <real>-100.0</real>
    </dict>
    <key>a</key>
    <dict>
      <key>b</key>
      <real>7.0</real>
      <key>p</key>
      <real>5.0</real>
      <key>t</key>
      <real>-24.0</real>
      <key>v</key>
      <real>-46.0</real>
      <key>w</key>
      <real>-32.0</real>
      <key>y</key>
      <real>-26.0</real>
    </dict>
    <key>b</key>
    <dict>
      <key>b</key>
      <real>-62.0</real>
      <key>c</key>
      <real>-12.0</real>
      <key>comma</key>
      <real>-138.0</real>
      <key>period</key>
      <real>-80.0</real>
      <key>r</key>
      <real>-33.0</real>
      <key>u</key>
      <real>-38.0</real>
      <key>v</key>
      <real>-94.0</real>
      <key>y</key>
      <real>-62.0</real>
    </dict>
    <key>c</key>
    <dict>
      <key>comma</key>
      <real>-116.0</real>
      <key>d</key>
      <real>-6.0</real>
      <key>k</key>
      <real>-11.0</real>
      <key>period</key>
      <real>-50.0</real>
      <key>y</key>
      <real>-28.0</real>
    </dict>
    <key>d</key>
    <dict>
      <key>d</key>
      <real>-48.0</real>
      <key>e</key>
      <real>-23.0</real>
      <key>o</key>
      <real>-28.0</real>
      <key>v</key>
      <real>-62.0</real>
      <key>w</key>
      <real>-48.0</real>
      <key>y</key>
      <real>-42.0</real>
    </dict>
    <key>e</key>
    <dict>
      <key>b</key>
      <real>-54.0</real>
      <key>comma</key>
      <real>-132.0</real>
      <key>p</key>
      <real>-44.0</real>
      <key>period</key>
      <real>-72.0</real>
      <key>v</key>
      <real>-80.0</real>
      <key>w</key>
      <real>-70.0</real>
      <key>x</key>
      <real>-42.0</real>
      <key>y</key>
      <real>-52.0</real>
    </dict>
    <key>f</key>
    <dict>
      <key>a</key>
      <real>-36.0</real>
      <key>comma</key>
      <real>-178.0</real>
      <key>e</key>
      <real>-46.0</real>
      <key>i</key>
      <real>-30.0</real>
      <key>o</key>
      <real>-44.0</real>
      <key>one</key>
      <real>-18.0</real>
      <key>period</key>
      <real>-120.0</real>
      <key>quotesingle</key>
      <real>-16.0</real>
    </dict>
    <key>g</key>
    <dict>
      <key>h</key>
      <real>-14.0</real>
    </dict>
    <key>h</key>
    <dict>
      <key>i</key>
      <real>4.0</real>
      <key>y</key>
      <real>-66.0</real>
    </dict>
    <key>i</key>
    <dict>
      <key>e</key>
      <real>-30.0</real>
      <key>v</key>
      <real>-60.0</real>
    </dict>
    <key>k</key>
    <dict>
      <key>e</key>
      <real>-106.0</real>
      <key>l</key>
      <real>-22.0</real>
      <key>o</key>
      <real>-116.0</real>
      <key>y</key>
      <real>-38.0</real>
    </dict>
    <key>l</key>
    <dict>
      <key>a</key>
      <real>-22.0</real>
    </dict>
    <key>m</key>
    <dict>
      <key>n</key>
      <real>-22.0</real>
      <key>u</key>
      <real>-54.0</real>
      <key>y</key>
      <real>-46.0</real>
    </dict>
    <key>n</key>
    <dict>
      <key>o</key>
      <real>-30.0</real>
      <key>u</key>
      <real>-50.0</real>
      <key>v</key>
      <real>-62.0</real>
      <key>y</key>
      <real>-42.0</real>
    </dict>
    <key>o</key>
    <dict>
      <key>comma</key>
      <real>-148.0</real>
      <key>g</key>
      <real>2.0</real>
      <key>n</key>
      <real>-14.0</real>
      <key>p</key>
      <real>-8.0</real>
      <key>period</key>
      <real>-90.0</real>
      <key>v</key>
      <real>-84.0</real>
      <key>w</key>
      <real>-74.0</real>
      <key>x</key>
      <real>-44.0</real>
      <key>y</key>
      <real>-54.0</real>
    </dict>
    <key>one</key>
    <dict>
      <key>two</key>
      <real>-22.0</real>
    </dict>
    <key>p</key>
    <dict>
      <key>comma</key>
      <real>-142.0</real>
      <key>h</key>
      <real>-13.0</real>
      <key>o</key>
      <real>-22.0</real>
      <key>period</key>
      <real>-86.0</real>
      <key>q</key>
      <real>-20.0</real>
      <key>y</key>
      <real>-60.0</real>
    </dict>
    <key>quotedbl</key>
    <dict>
      <key>A</key>
      <real>-180.0</real>
    </dict>
    <key>quotesingle</key>
    <dict>
      <key>d</key>
      <real>-256.0</real>
      <key>quotedbl</key>
      <real>-44.0</real>
      <key>quotesingle</key>
      <real>-58.0</real>
      <key>t</key>
      <real>-82.0</real>
    </dict>
    <key>r</key>
    <dict>
      <key>a</key>
      <real>-22.0</real>
      <key>colon</key>
      <real>-32.0</real>
      <key>comma</key>
      <real>-196.0</real>
      <key>d</key>
      <real>-38.0</real>
      <key>e</key>
      <real>-48.0</real>
      <key>hyphen</key>
      <real>-58.0</real>
      <key>i</key>
      <real>-32.0</real>
      <key>k</key>
      <real>-28.0</real>
      <key>m</key>
      <real>-26.0</real>
      <key>n</key>
      <real>-34.0</real>
      <key>o</key>
      <real>-38.0</real>
      <key>p</key>
      <real>-28.0</real>
      <key>period</key>
      <real>-132.0</real>
      <key>r</key>
      <real>-32.0</real>
      <key>s</key>
      <real>-20.0</real>
      <key>semicolon</key>
      <real>-28.0</real>
      <key>u</key>
      <real>-12.0</real>
      <key>v</key>
      <real>-24.0</real>
    </dict>
    <key>s</key>
    <dict>
      <key>comma</key>
      <real>-110.0</real>
      <key>period</key>
      <real>-46.0</real>
      <key>w</key>
      <real>-52.0</real>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <real>-29.0</real>
    </dict>
    <key>six</key>
    <dict>
      <key>seven</key>
      <real>-36.0</real>
    </dict>
    <key>u</key>
    <dict>
      <key>v</key>
      <real>-51.0</real>
    </dict>
    <key>v</key>
    <dict>
      <key>a</key>
      <real>-70.0</real>
      <key>comma</key>
      <real>-230.0</real>
      <key>e</key>
      <real>-60.0</real>
      <key>o</key>
      <real>-80.0</real>
      <key>period</key>
      <real>-166.0</real>
      <key>w</key>
      <real>-22.0</real>
    </dict>
    <key>w</key>
    <dict>
      <key>a</key>
      <real>-60.0</real>
      <key>comma</key>
      <real>-222.0</real>
      <key>e</key>
      <real>-70.0</real>
      <key>o</key>
      <real>-70.0</real>
      <key>period</key>
      <real>-160.0</real>
      <key>x</key>
      <real>-29.0</real>
    </dict>
    <key>x</key>
    <dict>
      <key>e</key>
      <real>-68.0</real>
      <key>y</key>
      <real>-29.0</real>
    </dict>
    <key>y</key>
    <dict>
      <key>a</key>
      <real>-82.0</real>
      <key>comma</key>
      <real>-244.0</real>
      <key>e</key>
      <real>-92.0</real>
      <key>o</key>
      <real>-92.0</real>
      <key>p</key>
      <real>-30.0</real>
      <key>period</key>
      <real>-188.0</real>
      <key>z</key>
      <real>-59.0</real>
    </dict>
    <key>z</key>
    <dict>
      <key>e</key>
      <real>-66.0</real>
      <key>o</key>
      <real>-62.0</real>
      <key>y</key>
      <real>-44.0</real>
    </dict>
  </dict>
</plist>
