<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-130</integer>
		<key>@MMK_R_W</key>
		<integer>-130</integer>
		<key>@MMK_R_Y</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>0</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_V</key>
		<integer>-130</integer>
		<key>@MMK_R_W</key>
		<integer>-90</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_W</key>
		<integer>-60</integer>
		<key>@MMK_R_X</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_W</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>-70</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-70</integer>
		<key>@MMK_R_u</key>
		<integer>-70</integer>
		<key>@MMK_R_w</key>
		<integer>-90</integer>
		<key>@MMK_R_y</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_i</key>
		<integer>30</integer>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-120</integer>
		<key>@MMK_R_a</key>
		<integer>-110</integer>
		<key>@MMK_R_g</key>
		<integer>-110</integer>
		<key>@MMK_R_o</key>
		<integer>-120</integer>
		<key>@MMK_R_p</key>
		<integer>-70</integer>
		<key>@MMK_R_s</key>
		<integer>-90</integer>
		<key>@MMK_R_u</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_w</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_five</key>
	<dict>
		<key>@MMK_R_zero</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_four</key>
	<dict>
		<key>@MMK_R_zero</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>10</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_w</key>
		<integer>-40</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_seven</key>
	<dict>
		<key>@MMK_R_zero</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_zero</key>
	<dict>
		<key>@MMK_R_four</key>
		<integer>-80</integer>
		<key>@MMK_R_seven</key>
		<integer>-30</integer>
	</dict>
	<key>Lcaron</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>10</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
