<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_.null</key>
	<array>
		<string>.null</string>
	</array>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>uni0394</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>uni1E08</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_L_CR</key>
	<array>
		<string>CR</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>uni1E1C</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>uni1E16</string>
		<string>uni1E14</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_Euro</key>
	<array>
		<string>Euro</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>uni1E20</string>
	</array>
	<key>@MMK_L_Germandbls</key>
	<array>
		<string>uni1E9E</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>uni1E2A</string>
		<string>Hcircumflex</string>
		<string>uni1E24</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>uni1E2E</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>uni1E44</string>
		<string>uni1E46</string>
		<string>uni1E48</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>IJ</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>Eng</string>
		<string>IJacute</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>uni0136</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>uni1E36</string>
		<string>uni1E3A</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M</string>
		<string>uni1E42</string>
	</array>
	<key>@MMK_L_Nhookleft</key>
	<array>
		<string>uni019D</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>uni1E0C</string>
		<string>uni1E0E</string>
		<string>uni018F</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>uni1E52</string>
		<string>uni1E50</string>
		<string>uni01EA</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>uni1E4C</string>
		<string>uni1E4E</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_Omega</key>
	<array>
		<string>uni03A9</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>uni1E5A</string>
		<string>uni1E5E</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>uni1E64</string>
		<string>Scaron</string>
		<string>uni1E66</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>uni1E60</string>
		<string>uni1E62</string>
		<string>uni1E68</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>uni1E6C</string>
		<string>uni1E6E</string>
	</array>
	<key>@MMK_L_Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>uni1E7A</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>uni1E78</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1E8E</string>
		<string>Ygrave</string>
		<string>uni0232</string>
		<string>uni1EF8</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni1E92</string>
	</array>
	<key>@MMK_L_acutecomb</key>
	<array>
		<string>acutecomb</string>
		<string>acute</string>
	</array>
	<key>@MMK_L_ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_L_ampersand.ss01</key>
	<array>
		<string>ampersand.ss01</string>
	</array>
	<key>@MMK_L_anoteleia</key>
	<array>
		<string>periodcentered</string>
	</array>
	<key>@MMK_L_asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>@MMK_L_asciitilde</key>
	<array>
		<string>approxequal</string>
		<string>asciitilde</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_at</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_L_backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_L_bar</key>
	<array>
		<string>bar</string>
	</array>
	<key>@MMK_L_braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>@MMK_L_bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>@MMK_L_bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>@MMK_L_brevecomb</key>
	<array>
		<string>uni0306</string>
		<string>uni032E</string>
		<string>breve</string>
	</array>
	<key>@MMK_L_brokenbar</key>
	<array>
		<string>brokenbar</string>
	</array>
	<key>@MMK_L_bullet</key>
	<array>
		<string>bullet</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>uni1E09</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>cent</string>
	</array>
	<key>@MMK_L_caroncomb.alt</key>
	<array>
		<string>uni030C.alt</string>
	</array>
	<key>@MMK_L_cedillacomb</key>
	<array>
		<string>uni0327</string>
		<string>cedilla</string>
	</array>
	<key>@MMK_L_circumflexcomb</key>
	<array>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>circumflex</string>
		<string>caron</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_commaturnedabovecomb</key>
	<array>
		<string>uni0312</string>
	</array>
	<key>@MMK_L_copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>@MMK_L_currency</key>
	<array>
		<string>currency</string>
	</array>
	<key>@MMK_L_dagger</key>
	<array>
		<string>dagger</string>
	</array>
	<key>@MMK_L_daggerdbl</key>
	<array>
		<string>daggerdbl</string>
	</array>
	<key>@MMK_L_degree</key>
	<array>
		<string>degree</string>
	</array>
	<key>@MMK_L_dieresiscomb</key>
	<array>
		<string>uni0308</string>
		<string>dieresis</string>
	</array>
	<key>@MMK_L_divide</key>
	<array>
		<string>divide</string>
	</array>
	<key>@MMK_L_dollar</key>
	<array>
		<string>dollar</string>
	</array>
	<key>@MMK_L_dotaccentcomb</key>
	<array>
		<string>uni0307</string>
		<string>dotbelowcomb</string>
		<string>dotaccent</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ae</string>
		<string>aeacute</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>uni1E1D</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>uni1E17</string>
		<string>uni1E15</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>@MMK_L_eight.dnom</key>
	<array>
		<string>eight.dnom</string>
		<string>uni2088</string>
	</array>
	<key>@MMK_L_eight.numr</key>
	<array>
		<string>eight.numr</string>
		<string>uni2078</string>
	</array>
	<key>@MMK_L_equal</key>
	<array>
		<string>equal</string>
	</array>
	<key>@MMK_L_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_L_exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>@MMK_L_exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_ff</key>
	<array>
		<string>ff</string>
	</array>
	<key>@MMK_L_five</key>
	<array>
		<string>five</string>
	</array>
	<key>@MMK_L_five.dnom</key>
	<array>
		<string>five.dnom</string>
		<string>uni2085</string>
	</array>
	<key>@MMK_L_five.numr</key>
	<array>
		<string>five.numr</string>
		<string>uni2075</string>
	</array>
	<key>@MMK_L_florin</key>
	<array>
		<string>florin</string>
	</array>
	<key>@MMK_L_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_L_four.dnom</key>
	<array>
		<string>four.dnom</string>
		<string>uni2084</string>
	</array>
	<key>@MMK_L_four.numr</key>
	<array>
		<string>four.numr</string>
		<string>uni2074</string>
	</array>
	<key>@MMK_L_fraction</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>uni1E21</string>
	</array>
	<key>@MMK_L_germandbls</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>@MMK_L_gravecomb</key>
	<array>
		<string>gravecomb</string>
		<string>grave</string>
	</array>
	<key>@MMK_L_greater</key>
	<array>
		<string>greater</string>
	</array>
	<key>@MMK_L_greaterequal</key>
	<array>
		<string>greaterequal</string>
	</array>
	<key>@MMK_L_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_hungarumlautcomb</key>
	<array>
		<string>uni030B</string>
		<string>hungarumlaut</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>uni00690307</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>f_i</string>
	</array>
	<key>@MMK_L_idieresisacute</key>
	<array>
		<string>uni1E2F</string>
	</array>
	<key>@MMK_L_infinity</key>
	<array>
		<string>infinity</string>
	</array>
	<key>@MMK_L_integral</key>
	<array>
		<string>integral</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>ij</string>
		<string>j</string>
		<string>uni0237</string>
		<string>jcircumflex</string>
		<string>eng</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>uni0137</string>
		<string>kgreenlandic</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>uni1E0D</string>
		<string>uni1E0F</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>ldot</string>
		<string>uni1E37</string>
		<string>uni1E3B</string>
		<string>f_l</string>
	</array>
	<key>@MMK_L_less</key>
	<array>
		<string>less</string>
	</array>
	<key>@MMK_L_lessequal</key>
	<array>
		<string>lessequal</string>
	</array>
	<key>@MMK_L_logicalnot</key>
	<array>
		<string>logicalnot</string>
	</array>
	<key>@MMK_L_lozenge</key>
	<array>
		<string>lozenge</string>
	</array>
	<key>@MMK_L_lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>@MMK_L_macroncomb</key>
	<array>
		<string>uni0304</string>
		<string>uni0331</string>
		<string>macron</string>
	</array>
	<key>@MMK_L_micro</key>
	<array>
		<string>uni03BC</string>
		<string>uni00B5</string>
	</array>
	<key>@MMK_L_minus</key>
	<array>
		<string>minus</string>
	</array>
	<key>@MMK_L_multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>h</string>
		<string>hbar</string>
		<string>uni1E2B</string>
		<string>hcircumflex</string>
		<string>uni1E25</string>
		<string>m</string>
		<string>uni1E43</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>uni1E45</string>
		<string>uni1E47</string>
		<string>uni1E49</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_nbspace</key>
	<array>
		<string>uni00A0</string>
	</array>
	<key>@MMK_L_nhookleft</key>
	<array>
		<string>uni0272</string>
	</array>
	<key>@MMK_L_nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>@MMK_L_nine.dnom</key>
	<array>
		<string>nine.dnom</string>
		<string>uni2089</string>
	</array>
	<key>@MMK_L_nine.numr</key>
	<array>
		<string>nine.numr</string>
		<string>uni2079</string>
	</array>
	<key>@MMK_L_notequal</key>
	<array>
		<string>notequal</string>
	</array>
	<key>@MMK_L_numbersign</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>uni0259</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>uni1E53</string>
		<string>uni1E51</string>
		<string>uni01EB</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>uni1E4D</string>
		<string>uni1E4F</string>
		<string>p</string>
		<string>thorn</string>
		<string>uni2116</string>
	</array>
	<key>@MMK_L_ogonekcomb</key>
	<array>
		<string>uni0328</string>
		<string>ogonek</string>
	</array>
	<key>@MMK_L_one</key>
	<array>
		<string>one</string>
	</array>
	<key>@MMK_L_one.dnom</key>
	<array>
		<string>one.dnom</string>
		<string>uni2081</string>
	</array>
	<key>@MMK_L_one.numr</key>
	<array>
		<string>one.numr</string>
		<string>uni00B9</string>
	</array>
	<key>@MMK_L_ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>@MMK_L_ordmasculine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_L_paragraph</key>
	<array>
		<string>paragraph</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>@MMK_L_parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>@MMK_L_partialdiff</key>
	<array>
		<string>partialdiff</string>
	</array>
	<key>@MMK_L_percent</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>@MMK_L_pi</key>
	<array>
		<string>pi</string>
	</array>
	<key>@MMK_L_plus</key>
	<array>
		<string>plus</string>
	</array>
	<key>@MMK_L_plusminus</key>
	<array>
		<string>plusminus</string>
	</array>
	<key>@MMK_L_product</key>
	<array>
		<string>product</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_L_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_L_questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>@MMK_L_quotedbl</key>
	<array>
		<string>quotedbl</string>
	</array>
	<key>@MMK_L_quotedblbase</key>
	<array>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteright</string>
		<string>uni0326</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_quotesinglbase</key>
	<array>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>uni1E5B</string>
		<string>uni1E5F</string>
	</array>
	<key>@MMK_L_radical</key>
	<array>
		<string>radical</string>
	</array>
	<key>@MMK_L_registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>@MMK_L_ringcomb</key>
	<array>
		<string>uni030A</string>
		<string>ring</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>uni1E65</string>
		<string>scaron</string>
		<string>uni1E67</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>uni1E61</string>
		<string>uni1E63</string>
		<string>uni1E69</string>
	</array>
	<key>@MMK_L_section</key>
	<array>
		<string>section</string>
	</array>
	<key>@MMK_L_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_L_seven.dnom</key>
	<array>
		<string>seven.dnom</string>
		<string>uni2087</string>
	</array>
	<key>@MMK_L_seven.numr</key>
	<array>
		<string>seven.numr</string>
		<string>uni2077</string>
	</array>
	<key>@MMK_L_six</key>
	<array>
		<string>six</string>
	</array>
	<key>@MMK_L_six.dnom</key>
	<array>
		<string>six.dnom</string>
		<string>uni2086</string>
	</array>
	<key>@MMK_L_six.numr</key>
	<array>
		<string>six.numr</string>
		<string>uni2076</string>
	</array>
	<key>@MMK_L_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_L_space</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_L_sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>@MMK_L_summation</key>
	<array>
		<string>summation</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>uni1E97</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
	</array>
	<key>@MMK_L_three</key>
	<array>
		<string>three</string>
	</array>
	<key>@MMK_L_three.dnom</key>
	<array>
		<string>three.dnom</string>
		<string>uni2083</string>
	</array>
	<key>@MMK_L_three.numr</key>
	<array>
		<string>three.numr</string>
		<string>uni00B3</string>
	</array>
	<key>@MMK_L_tildecomb</key>
	<array>
		<string>tildecomb</string>
		<string>tilde</string>
	</array>
	<key>@MMK_L_trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>@MMK_L_two</key>
	<array>
		<string>two</string>
	</array>
	<key>@MMK_L_two.dnom</key>
	<array>
		<string>two.dnom</string>
		<string>uni2082</string>
	</array>
	<key>@MMK_L_two.numr</key>
	<array>
		<string>two.numr</string>
		<string>uni00B2</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni1E7B</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>uni1E79</string>
	</array>
	<key>@MMK_L_underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1E8F</string>
		<string>ygrave</string>
		<string>uni0233</string>
		<string>uni1EF9</string>
	</array>
	<key>@MMK_L_yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>uni1E93</string>
	</array>
	<key>@MMK_L_zero</key>
	<array>
		<string>zero</string>
	</array>
	<key>@MMK_L_zero.dnom</key>
	<array>
		<string>zero.dnom</string>
		<string>uni2080</string>
	</array>
	<key>@MMK_L_zero.numr</key>
	<array>
		<string>zero.numr</string>
		<string>uni2070</string>
	</array>
	<key>@MMK_R_.null</key>
	<array>
		<string>.null</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>uni0394</string>
	</array>
	<key>@MMK_R_CR</key>
	<array>
		<string>CR</string>
	</array>
	<key>@MMK_R_Euro</key>
	<array>
		<string>Euro</string>
	</array>
	<key>@MMK_R_Germandbls</key>
	<array>
		<string>uni1E9E</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>uni1E0C</string>
		<string>uni1E0E</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>uni1E1C</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>uni1E16</string>
		<string>uni1E14</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>uni1E2A</string>
		<string>Hcircumflex</string>
		<string>uni1E24</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>uni1E2E</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>uni1E36</string>
		<string>uni1E3A</string>
		<string>Lslash</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>uni1E44</string>
		<string>uni1E46</string>
		<string>uni1E48</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>uni1E5A</string>
		<string>uni1E5E</string>
		<string>uni2116</string>
		<string>IJacute</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M</string>
		<string>uni1E42</string>
	</array>
	<key>@MMK_R_Nhookleft</key>
	<array>
		<string>uni019D</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>uni1E08</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>uni018F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>uni1E20</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>uni1E52</string>
		<string>uni1E50</string>
		<string>uni01EA</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>uni1E4C</string>
		<string>uni1E4E</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_Omega</key>
	<array>
		<string>uni03A9</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>uni1E64</string>
		<string>Scaron</string>
		<string>uni1E66</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>uni1E60</string>
		<string>uni1E62</string>
		<string>uni1E68</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>uni1E6C</string>
		<string>uni1E6E</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>uni1E7A</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>uni1E78</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1E8E</string>
		<string>Ygrave</string>
		<string>uni0232</string>
		<string>uni1EF8</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni1E92</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
	</array>
	<key>@MMK_R_acutecomb</key>
	<array>
		<string>acutecomb</string>
		<string>acute</string>
	</array>
	<key>@MMK_R_ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_R_ampersand.ss01</key>
	<array>
		<string>ampersand.ss01</string>
	</array>
	<key>@MMK_R_anoteleia</key>
	<array>
		<string>periodcentered</string>
	</array>
	<key>@MMK_R_asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>@MMK_R_asciitilde</key>
	<array>
		<string>approxequal</string>
		<string>asciitilde</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_at</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_R_backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_R_bar</key>
	<array>
		<string>bar</string>
	</array>
	<key>@MMK_R_braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>@MMK_R_braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>@MMK_R_bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>@MMK_R_bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>@MMK_R_brevecomb</key>
	<array>
		<string>uni0306</string>
		<string>uni032E</string>
		<string>breve</string>
	</array>
	<key>@MMK_R_brokenbar</key>
	<array>
		<string>brokenbar</string>
	</array>
	<key>@MMK_R_bullet</key>
	<array>
		<string>bullet</string>
	</array>
	<key>@MMK_R_caroncomb</key>
	<array>
		<string>caron</string>
	</array>
	<key>@MMK_R_caroncomb.alt</key>
	<array>
		<string>uni030C.alt</string>
	</array>
	<key>@MMK_R_cedillacomb</key>
	<array>
		<string>uni0327</string>
		<string>cedilla</string>
	</array>
	<key>@MMK_R_circumflexcomb</key>
	<array>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>circumflex</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_commaturnedabovecomb</key>
	<array>
		<string>uni0312</string>
	</array>
	<key>@MMK_R_copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>@MMK_R_currency</key>
	<array>
		<string>currency</string>
	</array>
	<key>@MMK_R_dagger</key>
	<array>
		<string>dagger</string>
	</array>
	<key>@MMK_R_daggerdbl</key>
	<array>
		<string>daggerdbl</string>
	</array>
	<key>@MMK_R_degree</key>
	<array>
		<string>degree</string>
	</array>
	<key>@MMK_R_dieresiscomb</key>
	<array>
		<string>uni0308</string>
		<string>dieresis</string>
	</array>
	<key>@MMK_R_divide</key>
	<array>
		<string>divide</string>
	</array>
	<key>@MMK_R_dollar</key>
	<array>
		<string>dollar</string>
	</array>
	<key>@MMK_R_dotaccentcomb</key>
	<array>
		<string>uni0307</string>
		<string>dotbelowcomb</string>
		<string>dotaccent</string>
	</array>
	<key>@MMK_R_eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>@MMK_R_eight.dnom</key>
	<array>
		<string>eight.dnom</string>
		<string>uni2088</string>
	</array>
	<key>@MMK_R_eight.numr</key>
	<array>
		<string>eight.numr</string>
		<string>uni2078</string>
	</array>
	<key>@MMK_R_equal</key>
	<array>
		<string>equal</string>
	</array>
	<key>@MMK_R_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_R_exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>@MMK_R_exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>f_i</string>
		<string>f_l</string>
	</array>
	<key>@MMK_R_ff</key>
	<array>
		<string>ff</string>
	</array>
	<key>@MMK_R_five</key>
	<array>
		<string>five</string>
	</array>
	<key>@MMK_R_five.dnom</key>
	<array>
		<string>five.dnom</string>
		<string>uni2085</string>
	</array>
	<key>@MMK_R_five.numr</key>
	<array>
		<string>five.numr</string>
		<string>uni2075</string>
	</array>
	<key>@MMK_R_florin</key>
	<array>
		<string>florin</string>
	</array>
	<key>@MMK_R_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_R_four.dnom</key>
	<array>
		<string>four.dnom</string>
		<string>uni2084</string>
	</array>
	<key>@MMK_R_four.numr</key>
	<array>
		<string>four.numr</string>
		<string>uni2074</string>
	</array>
	<key>@MMK_R_fraction</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>uni1E21</string>
	</array>
	<key>@MMK_R_gravecomb</key>
	<array>
		<string>gravecomb</string>
		<string>grave</string>
	</array>
	<key>@MMK_R_greater</key>
	<array>
		<string>greater</string>
	</array>
	<key>@MMK_R_greaterequal</key>
	<array>
		<string>greaterequal</string>
	</array>
	<key>@MMK_R_guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hbar</string>
		<string>uni1E2B</string>
		<string>hcircumflex</string>
		<string>uni1E25</string>
		<string>k</string>
		<string>uni0137</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>ldot</string>
		<string>uni1E37</string>
		<string>uni1E3B</string>
		<string>thorn</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_hungarumlautcomb</key>
	<array>
		<string>uni030B</string>
		<string>hungarumlaut</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>uni00690307</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
	</array>
	<key>@MMK_R_idieresisacute</key>
	<array>
		<string>uni1E2F</string>
	</array>
	<key>@MMK_R_infinity</key>
	<array>
		<string>infinity</string>
	</array>
	<key>@MMK_R_integral</key>
	<array>
		<string>integral</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
		<string>uni0237</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_less</key>
	<array>
		<string>less</string>
	</array>
	<key>@MMK_R_lessequal</key>
	<array>
		<string>lessequal</string>
	</array>
	<key>@MMK_R_logicalnot</key>
	<array>
		<string>logicalnot</string>
	</array>
	<key>@MMK_R_lozenge</key>
	<array>
		<string>lozenge</string>
	</array>
	<key>@MMK_R_lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>@MMK_R_macroncomb</key>
	<array>
		<string>uni0304</string>
		<string>uni0331</string>
		<string>macron</string>
	</array>
	<key>@MMK_R_micro</key>
	<array>
		<string>uni03BC</string>
		<string>uni00B5</string>
	</array>
	<key>@MMK_R_minus</key>
	<array>
		<string>minus</string>
	</array>
	<key>@MMK_R_multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>kgreenlandic</string>
		<string>m</string>
		<string>uni1E43</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>uni1E45</string>
		<string>uni1E47</string>
		<string>uni1E49</string>
		<string>ntilde</string>
		<string>eng</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>uni1E5B</string>
		<string>uni1E5F</string>
	</array>
	<key>@MMK_R_nbspace</key>
	<array>
		<string>uni00A0</string>
	</array>
	<key>@MMK_R_nhookleft</key>
	<array>
		<string>uni0272</string>
	</array>
	<key>@MMK_R_nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>@MMK_R_nine.dnom</key>
	<array>
		<string>nine.dnom</string>
		<string>uni2089</string>
	</array>
	<key>@MMK_R_nine.numr</key>
	<array>
		<string>nine.numr</string>
		<string>uni2079</string>
	</array>
	<key>@MMK_R_notequal</key>
	<array>
		<string>notequal</string>
	</array>
	<key>@MMK_R_numbersign</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>uni1E09</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>uni1E0D</string>
		<string>uni1E0F</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>uni1E1D</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>uni1E17</string>
		<string>uni1E15</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>uni0259</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>uni1E53</string>
		<string>uni1E51</string>
		<string>uni01EB</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>uni1E4D</string>
		<string>uni1E4F</string>
		<string>oe</string>
		<string>q</string>
		<string>cent</string>
	</array>
	<key>@MMK_R_ogonekcomb</key>
	<array>
		<string>uni0328</string>
		<string>ogonek</string>
	</array>
	<key>@MMK_R_one</key>
	<array>
		<string>one</string>
	</array>
	<key>@MMK_R_one.dnom</key>
	<array>
		<string>one.dnom</string>
		<string>uni2081</string>
	</array>
	<key>@MMK_R_one.numr</key>
	<array>
		<string>one.numr</string>
		<string>uni00B9</string>
	</array>
	<key>@MMK_R_ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>@MMK_R_ordmasculine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
	</array>
	<key>@MMK_R_paragraph</key>
	<array>
		<string>paragraph</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>@MMK_R_partialdiff</key>
	<array>
		<string>partialdiff</string>
	</array>
	<key>@MMK_R_percent</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>@MMK_R_pi</key>
	<array>
		<string>pi</string>
	</array>
	<key>@MMK_R_plus</key>
	<array>
		<string>plus</string>
	</array>
	<key>@MMK_R_plusminus</key>
	<array>
		<string>plusminus</string>
	</array>
	<key>@MMK_R_product</key>
	<array>
		<string>product</string>
	</array>
	<key>@MMK_R_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_R_questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>@MMK_R_quotedbl</key>
	<array>
		<string>quotedbl</string>
	</array>
	<key>@MMK_R_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_quotedblright</key>
	<array>
		<string>quotedblbase</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotesinglbase</string>
		<string>uni0326</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_radical</key>
	<array>
		<string>radical</string>
	</array>
	<key>@MMK_R_registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>@MMK_R_ringcomb</key>
	<array>
		<string>uni030A</string>
		<string>ring</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>uni1E65</string>
		<string>scaron</string>
		<string>uni1E67</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>uni1E61</string>
		<string>uni1E63</string>
		<string>uni1E69</string>
	</array>
	<key>@MMK_R_section</key>
	<array>
		<string>section</string>
	</array>
	<key>@MMK_R_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_R_seven.dnom</key>
	<array>
		<string>seven.dnom</string>
		<string>uni2087</string>
	</array>
	<key>@MMK_R_seven.numr</key>
	<array>
		<string>seven.numr</string>
		<string>uni2077</string>
	</array>
	<key>@MMK_R_six</key>
	<array>
		<string>six</string>
	</array>
	<key>@MMK_R_six.dnom</key>
	<array>
		<string>six.dnom</string>
		<string>uni2086</string>
	</array>
	<key>@MMK_R_six.numr</key>
	<array>
		<string>six.numr</string>
		<string>uni2076</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>@MMK_R_space</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_R_sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>@MMK_R_summation</key>
	<array>
		<string>summation</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>uni1E97</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
	</array>
	<key>@MMK_R_three</key>
	<array>
		<string>three</string>
	</array>
	<key>@MMK_R_three.dnom</key>
	<array>
		<string>three.dnom</string>
		<string>uni2083</string>
	</array>
	<key>@MMK_R_three.numr</key>
	<array>
		<string>three.numr</string>
		<string>uni00B3</string>
	</array>
	<key>@MMK_R_tildecomb</key>
	<array>
		<string>tildecomb</string>
		<string>tilde</string>
	</array>
	<key>@MMK_R_trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>@MMK_R_two</key>
	<array>
		<string>two</string>
	</array>
	<key>@MMK_R_two.dnom</key>
	<array>
		<string>two.dnom</string>
		<string>uni2082</string>
	</array>
	<key>@MMK_R_two.numr</key>
	<array>
		<string>two.numr</string>
		<string>uni00B2</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni1E7B</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>uni1E79</string>
	</array>
	<key>@MMK_R_underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1E8F</string>
		<string>ygrave</string>
		<string>uni0233</string>
		<string>uni1EF9</string>
	</array>
	<key>@MMK_R_yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>uni1E93</string>
	</array>
	<key>@MMK_R_zero</key>
	<array>
		<string>zero</string>
	</array>
	<key>@MMK_R_zero.dnom</key>
	<array>
		<string>zero.dnom</string>
		<string>uni2080</string>
	</array>
	<key>@MMK_R_zero.numr</key>
	<array>
		<string>zero.numr</string>
		<string>uni2070</string>
	</array>
</dict>
</plist>
